#ingredients{
    display: flex;
    list-style: none;
}

#ingredients li{
    border: 1px solid #cccccc;
    padding: 5px 10px;
    margin-bottom: 5px;
}

#ingredients li:last-child{
    margin-bottom: unset;
}

#ingredients{
    flex-direction: column;
}

@media screen and (min-width: 768px){
    
    #ingredients{
        flex-direction: row;
    }

    #ingredients li{
        margin-right: 15px;
        margin-bottom: unset;
    }

    #ingredients li:last-child{
        margin-right: unset;
    }
}