#counter{
    width: 290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#counter button{
    border: none;
    width: 90px;
    height: 60px;
    font-size: 2em;
    border-radius: 5px;
    background-color: #eeeeee;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

#counter button:hover{
    background-color: #dedede;
}

#value{
    font-size: 2em;
}