#gallery{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#gallery .gallery-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
    position: relative;
    width: 150px;
    height: 100px;
}

#gallery .gallery-list-item-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

#gallery .gallery-list-item-image:hover{
    position: absolute;
    z-index: 1;
    font-size: 2em;
    width: 150%;
    height: auto;
}

@media screen and (min-width: 768px){
    #gallery{
        flex-direction: row;
    }

    #gallery .gallery-list-item:first-child{
        margin-left: 0;
    }
    
    #gallery .gallery-list-item:last-child{
        margin-right: 0;
    }
}